
            .link {
                padding:0px 5px;
                text-decoration: none;
                color: rgba(0,0,0,0.87);
            }
            a:hover {
                text-decoration: underline;
            }
        
            
            .tt {
               
               margin-left:auto;
               margin-right:auto;
               width: 473px;
               padding: 5px; 
               border: 1px solid rgb(214, 214, 214);
               border-radius: 24px;
            }
          
            .btn{

                background-color: #f8f9fa;
                border: 1px solid #f8f9fa;
                border-radius: 4px;
                color: #3c4043;
                font-family: arial,sans-serif;
                font-size: 14px;
                margin: 11px 4px;
                padding: 0 16px;
                line-height: 27px;
                height: 36px;
                min-width: 54px; 
            }
            .inp-q{
                width: 380px;
                background-color: transparent;
                border: none;
                margin: 0;
                padding: 0;
                color: rgba(0,0,0,.87);
                word-wrap: break-word;
                outline: none;
                
                height: 34px;
                font-size: 16px;
            }
            
            .tt:hover, .btn:hover{
                box-shadow: 0 0 3px rgba(124, 124, 124, 0.5); 
            }
            .mn_bl{
                height: 290px;
                position: relative;
                
            }
            .new_im{
                position: relative;
                margin-top: auto;
                width: 272px;
                height: 290px;
            }
            
            .gle{
                position:relative;
                padding-top: 170px;
            }
            .ref {
                display: inline-block;
                width: 95%;
                line-height: 24px;
                vertical-align: middle;
                padding: 16px;
            } 
             
            #sp {   
                color: #4285f4;
                font: 16px/16px roboto-regular, arial, sans-serif;
                position: absolute;
                left: 220px;
                bottom: 0;
                white-space: nowrap;
                padding-bottom: 30px;
                }
            .adv-h {
                height: 60px;
                vertical-align: middle;    
            }
            .adv_p{
                width: 16%;
                vertical-align: middle;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .adv_f{
                min-width: 167px;
                min-height: 41px;
                vertical-align: middle;
                margin: 10px;
                width: 50%
            }
            .adv_fm{
                border: 1px solid #d9d9d9;
                border-radius: 1px;
                border-top: 1px solid #c0c0c0;
                font-size: 13px;
                height: 25px;
                padding: 1px 8px;
                width: 95%;
                text-align: left;
            }
            .adv_up{
                display: flex;
                flex-wrap: wrap;
            }
            input:focus {
                border: 1px solid #1670BE;
                box-shadow: 0 0 3px #1670BE;
                outline-offset: 0px;
                outline: none;
            }
            .spa{
                font-size: 11px;
            }
           .adv_btn{
                height: 30px;
                min-width: 120px;
                background-color: #4d90fe;
                background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
                border: 1px solid #3078ed;
                color: #fff;
                float: right;
            }
          
                 
                
    